<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Display question</title>
    <style>

        #text {width: 40%;}
        #anchors {horiz-align: center}
        img {width: 20px}
    </style>
</head>
<body>
    <div id='text'>
            <h5>Title:</h5>
            <p class="big_text">{{ current_q_data["title"] }}</p><br>

            <h5>Question:</h5>
            <p class="big_text">{{ current_q_data["message"] }}</p>

            <h5>Answer:</h5>
            {% for elem in current_a_data %}
                <p class="big_text">{{ elem["message"] }}</p>
                <p><a href="{{  url_for("delete_answer", answer_id=elem["id"]) }}">Delete answer</a></p><br>
                <p>{{ elem["vote_number"] }}</p>
                <p><a href="{{  url_for("vote_a_up", answer_id=elem["id"]) }}">Up</a><a href="{{  url_for("vote_a_down", answer_id=elem["id"]) }}">Down</a></p></a></p><br>
            {% endfor %}
    </div>

    <div id="image">

        <img src="{{ url_for('static', filename=filename) }}">

    </div>

    <div id="anchors">
        <a href="{{ url_for("new_answer", question_id=id) }}">Add answer</a>
        <a href="{{ url_for("edit_question", question_id=id) }}">Edit question</a>
        <a href="{{ url_for("delete_question", question_id=id) }}">Delete question</a>
    </div>
</body>
</html>