<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Display question</title>
</head>
<body>
            <h5>Title:</h5>
            <p>{{ current_q_data["title"] }}</p><br><br>

            <h5>Question:</h5>
            <p>{{ current_q_data["message"] }}</p>

            <h5>Answer:</h5>
            {% for elem in current_a_data %}
                <p>{{ elem["message"] }}</p>

            {% endfor %}

<a href="{{ url_for("new_answer", question_id=id) }}">Add answer</a>
<a href="{{ url_for("edit_question", question_id=id) }}">Edit question</a>

</body>
</html>