<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>

        table, th td {border: 1px solid black}
        #second_col {text-align: center}
        .header {text-align: center}
        tr {text-align: center}
    </style>
</head>
<body>

    <table>
    {% for elem in ["id","submission_time","view_number","vote_number","title","message","image"] %}
    <th>{{ elem }}</th>
    {% endfor %}

    {% for data in all_q_data %}
        <tr>
            <td id="first_col">{{ data.id }}</td>
            <td id="second_col">{{ data.submission_time }}</td>
            <td>{{ data.view_number }}</td>
            <td>{{ data.vote_number }}<br><a style= "margin:10px" href="{{ url_for("vote_up", question_id=data.id) }}">Up</a><a href="{{ url_for("vote_down", question_id=data.id) }}">Down</a></td>
            <td>{{ data.title }}</td>
            <td><a href="{{ url_for("display_question", question_id=data.id) }}">{{ data.message }}</a></td>
            <td>{{ data.image }}</td>

        </tr>
    {% endfor %}

    </table>




</body>
</html