<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>

        table, th td {border: 1px solid black}
        #second_col {text-align: center}
        .header {text-align: center}
        tr {text-align: center}
        body {background-color: gainsboro;
            padding-top: 30px;
        }
    </style>
</head>
<body>
    <table>
    {% for elem in ["id","submission_time","view_number","vote_number","title","message","image"] %}
    <th>{{ elem }}</th>
    {% endfor %}

    {% for data in all_q_data %}
        <tr>
            <td id="first_col">{{ data.id }}</td>
            <td id="second_col">{{ data.submission_time }}</td>
            <td>{{ data.view_number }}</td>
            <td>{{ data.vote_number }}<br><a style= "margin:10px" href="{{ url_for("vote_up", question_id=data.id) }}">Up</a><a href="{{ url_for("vote_down", question_id=data.id) }}">Down</a></td>
            <td>{{ data.title }}</td>
            <td><a href="{{ url_for("display_question", question_id=data.id) }}">{{ data.message }}</a></td>
            <td>{{ data.image }}</td>

        </tr>
    {% endfor %}

    </table><br><br>



<a href="/list/add-question">Add question</a><a  href="{{ url_for("hello") }}" style="margin: 20px">Back to the main page</a><br><br>

<form name="sort" action="#" method="post">
    <select name="title">
        <option>id</option>
        <option>submission_time</option>
        <option>message</option>
        <option>view_number</option>
        <option>vote_number</option>
        <option>title</option>
    </select>
    <select name="way">
        <option>Ascending</option>
        <option>Descending</option>
    </select>
    <button type="submit">Sort</button>

</form>



</body>
</html>