<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List tags</title>
    <style>

    table {border: 1px solid black; padding-left: 20px; width: 100px
    }

    tr {text-align: center}
    body {background-color: gainsboro;
        padding-top: 30px;
        padding-left: 10px
    }
    </style>
</head>
<body>


<table>
    {% for header in ["TAG", "COUNT"] %}
        {{ header }}
    {% endfor %}
</table><br>

<table>
    {% for row in tags %}
        <tr>

            <td>{{ row.tag }}</td>
            <td>{{ row.count }}</td>

        </tr>
    {% endfor %}
</table><br><br>

<a href="{{ url_for('hello') }}">Back to main page</a>

</body>
</html>