<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <style>
        body {background-color: gainsboro}
        h1 {font-family: Dyuthi, sans-serif;
            color: darkcyan;
        }
        h2 {font-family: Dyuthi, sans-serif;
            color: darkcyan;
        }
        .questions {background-color: azure;
                font-family: DejaVu Sans, sans-serif;
                width: 700px;
        }

    </style>
</head>
<body>
<br>
<h1>Welcome to AskMate</h1><br><br>

<a href="/list">GO TO ALL QUESTIONS</a><br><br>
<a href="{{ url_for('registration') }}">Registration</a><br><br>
<a href="{{ url_for('login') }}">Login</a><br><br>
<a href="{{ url_for('all_users') }}">list all users</a><br><br>





<div class="search">

    <form method="post" action="#" name="search">
    <label for="search"></label><br>
    <input type="text" id="search" name="search" value="Search for something">
    <button type="submit">Search</button><br><br>
    </form>

</div>





<div class="list_last_5_questions">
    <h2>Recent questions: </h2>
    {% for question in last_5_questions %}
        <p class="questions">{{ question.message }} <span style="background-color: khaki"> {{ question.submission_time }}</span></p><br><br>
    {% endfor %}
</div>


</body>
</html>