<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>

     <style>
        body {background-color: gainsboro}
        h1 {font-family: Dyuthi, sans-serif;
            color: darkcyan;
        }
        h2 {font-family: Dyuthi, sans-serif;
            color: darkcyan;
        }
        </style>

</head>
<body>

<h2>Registration</h2>
<form method="post" name="Registration" id="Registration" action="#">
    <label for="name">Username:</label>
    <input type="text" id="name" name="username"><br><br>
    <label for="password">Password:</label>
    <input type="text" id="password" name="password"><br><br>
    <button type="submit" id="reg_button" name="reg_button">Submit</button>
</form>

</body>
</html>